#main-paragraph{
    padding: 20%;
    margin: 5%;
    border-radius: 5%;
    background-color: pink;
}
container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .item {
    flex: 1;
    min-width: 200px;
  }